@use '../_root' as *;

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

@media screen and (min-width: 2560px) {}

@media screen and (max-width: 1920px) {
    .hero {
        background-position-y: 30%;
    }
}

@media screen and (max-width: 1600px) {
    .hero {
        background-position-y: 20%;
    }
}

@media screen and (max-width: 1280px) {
    .navbar {
        &__pages {
            display: none;
        }

        &__cta {
            display: none;
        }

        &__hamburger {
            display: block;
        }
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        background-position-x: 60%;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}