@use '../_root' as *;

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

@media screen and (min-width: 2560px) {}

@media screen and (max-width: 1920px) {
    #home .hero {
        background-position-y: 30%;
    }
}

@media screen and (max-width: 1600px) {
    #home .hero {
        background-position-y: 20%;
    }
}

@media screen and (max-width: 1280px) {
    .navbar {
        &__pages {
            display: none;
        }

        &__cta {
            display: none;
        }

        &__hamburger {
            display: block;
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        column-gap: 5%;

        &__contact {
            h3 {
                font-size: 20px;
            }
        }
    }

    #home .bio {
        display: flex;
        flex-direction: column-reverse;
        gap: 100px;
        padding-right: $space-3;

        &--container {
            align-self: center;
        }

        &__image {
            border-radius: 12px;
            margin: auto;

            img {
                max-height: 600px;
            }
        }
    }

    #home .hero {
        background-position-x: 60%;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}