@use '../_root' as *;

.cta-button {
    border: none;
    display: flex;
    outline: 1px solid $ct1a;
    transition: outline-color .5s;

    &:hover {
        outline-color: $ct1;
    }

    a {
        padding: $s1 $s2;
        text-transform: uppercase;
    }
}