@use '../_root' as *;

.banner {
    display: grid;
    grid-template-columns: max-content 1fr max-content;

    &--gutter {
        width: $space-3;
    }

    &__text {
        p {
            animation: fade-in 5s;
            opacity: 0;
            padding: 12px;
            text-align: center;
        }
    }

    &__close {
        align-items: center;
        color: $color-text-1;
        cursor: pointer;
        display: flex;

        svg {
            height: $font-1;
            margin: 0 $space-1;
            width: $font-1;
        }
    }
}