@use '../_root' as *;

.banner {
    background: $color-bg-1;
    display: grid;
    grid-template-columns: 1fr max-content;

    &__text {
        p {
            animation: fade-in-out 5s;
            opacity: 0;
            padding: 12px $space-3;
            text-align: center;
        }
    }

    &__close {
        align-self: center;
        color: $color-text-1;
        cursor: pointer;
        display: flex;
        padding: calc(27px / 2) 0;

        svg {
            height: $font-1;
            margin: 0 $space-1;
            width: $font-1;
        }
    }
}