@use '../_root' as *;

.banner {
    display: grid;
    grid-template-columns: max-content 1fr max-content;

    .banner__gutter {
        width: $space-3;
    }

    .banner__text {
        p {
            animation: fade-in 5s;
            opacity: 0;
            padding: 12px $space-3;
            text-align: center;
        }
    }

    .banner__close {
        align-items: center;
        color: $color-text-1u;
        cursor: pointer;
        display: flex;
        transition: .5s;

        &:hover {
            color: $color-text-1;
        }

        svg {
            height: $font-1;
            margin: 0 $space-1;
            width: $font-1;
        }
    }
}