@use '../_root' as *;

.navbar {
    align-items: center;
    background: $cbg2;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: 0 $s2;

    &__logo {
        a {
            align-items: center;
            display: flex;
            height: 120px;
            padding: 0 $s1;

            img {
                height: 65%;
                position: relative;
                top: 8px;
            }
        }
    }

    &__pages {
        align-items: center;
        display: flex;
        justify-self: end;

        div {
            display: flex;
            flex-direction: column;
            position: relative;

            >a {
                cursor: default;
            }

            aside {
                background: $cbg2;
                position: absolute;
                top: 60px;
                width: 100%;

                a {
                    height: 60px;
                }
            }
        }

        a {
            align-items: center;
            display: flex;
            padding: $s1 $s2;

            svg {
                margin-left: 4px;
                width: 12px;
            }
        }
    }

    &__cta {
        margin: 0 $s2;
    }

    &__hamburger {
        color: $ct1;
        display: none;
        justify-self: flex-end;
    }
}