$color-bg-1: var(--color-bg-1);
$color-bg-2: var(--color-bg-2);

$color-text-1: var(--color-text-1);
$color-text-1u: var(--color-text-1u);
$color-text-2: var(--color-text-2);
$color-text-2u: var(--color-text-2u);

$font-1: var(--font-1);
$font-2: var(--font-2);
$font-3: var(--font-3);
$font-4: var(--font-4);

$space-gutter: var(--space-gutter);
$space-margin: var(--space-margin);
$space-vertical: var(--space-vertical);