$color-bg-1: var(--color-bg-1);
$color-bg-2: var(--color-bg-2);
$color-text-1: var(--color-text-1);
$color-text-1a: var(--color-text-1a);
$color-text-2: var(--color-text-2);
$color-text-2a: var(--color-text-2a);
$font-1: var(--font-1);
$font-2: var(--font-2);
$font-3: var(--font-3);
$font-4: var(--font-4);
$space-1: var(--space-1);
$space-2: var(--space-2);
$space-3: var(--space-3);
$space-4: var(--space-4);
$space-gutter: var(--space-gutter);
$space-vertical: var(--space-vertical);