$cbg1: var(--cbg1);
$cbg2: var(--cbg2);
$ct1: var(--ct1);
$ct1a: var(--ct1a);
$ct2: var(--ct2);
$ct2a: var(--ct2a);
$f1: var(--f1);
$f2: var(--f2);
$f3: var(--f3);
$f4: var(--f4);
$s1: var(--s1);
$s2: var(--s2);
$s3: var(--s3);
$s4: var(--s4);
$sg: var(--sg);
$sv: var(--sv);

@mixin box-shadow {
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
}