// * { animation: none !important; transition: none !important; }
// * { background: #fff !important; border-color: #000 !important; box-shadow: none !important; color: #000 !important; filter: grayscale(100%) !important; text-shadow: none !important; }
// * { font-family: sans-serif !important; }
// * { user-select: all !important; }

// #bio .about { display: none; }
// #bio .contact { display: none; }
// #bio .credentials { display: none; }
// #bio .hero { display: none; }
// #brows .about { display: none; }
// #brows .actions { display: none; }
// #brows .experience { display: none; }
// #brows .services { display: none; }
// #brows .techniques { display: none; }
// #home .bio { display: none; }
// #home .clients { display: none; }
// #home .hero { display: none; }
// #home .portfolio { display: none; }
// #home .readiness { display: none; }
// #home .services { display: none; }
// #home .studio { display: none; }
// #home .testimonials { display: none; }
// .banner { display: none; }
// .footer { display: none; }
// .menu { display: none; }
// .navbar { display: none; }