@use '_root' as *;

:root {
    --color-bg-1: #f8f4e9;
    --color-bg-2: #ffffff;
    --color-text-1: #080606;
    --color-text-1a: #666666;
    --color-text-2: #ffffff;
    --color-text-2a: #ffffffa8;
    --font-1: 16px;
    --font-2: 24px;
    --font-3: 40px;
    --font-4: 48px;
    --space-1: 16px;
    --space-2: 24px;
    --space-3: 48px;
    --space-4: 72px;
    --space-gutter: 16px;
    --space-vertical: 200px;
}

a {
    color: $color-text-1a;
    transition: color .5s;

    &:visited {
        color: $color-text-1a;
    }

    &:hover {
        color: $color-text-1;
    }
}

div {
    transition: opacity 1s;
}

h1 {
    font-family: Trirong, Garamond, serif;
    font-size: $font-4;
    font-weight: 600;
    line-height: $font-4;
}

h2 {
    font-family: Trirong, Garamond, serif;
    font-size: $font-3;
    font-weight: 500;
    line-height: $font-3;
}

h3 {
    font-family: Trirong, Garamond, serif;
    font-size: $font-2;
    font-weight: 400;
}

h4 {
    font-family: Trirong, Garamond, serif;
    font-size: $font-3;
    font-weight: 300;
}

h5 {
    font-size: $font-1;
    font-weight: 800;
    text-transform: uppercase;
}

html {
    background: $color-bg-1;
    color: $color-text-1;
    font-family: 'Sofia Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    max-width: 2560px;
}

img {
    display: block;
    user-select: none;
}

svg {
    path {
        fill: currentColor;

        &:hover {
            fill: currentColor;
        }
    }
}