@use '../../_root' as *;

#home .bio {
    display: grid;
    gap: $s3;
    grid-template-columns: 9fr 16fr;
    padding: $sv 0 $sv $s3;

    &--container {
        align-self: end;
        justify-self: end;
        max-width: 500px;
        min-width: 300px;
    }

    &__header {
        h2 {
            margin-bottom: $s2;
        }
    }

    &__text {
        p {
            &:first-child {
                margin-bottom: $s2;
            }

            &:last-child {
                margin-bottom: $s3;
            }
        }
    }

    &__cta {
        a {
            width: max-content;
        }
    }

    &__image {
        @include box-shadow;
        border-radius: 4px;
        overflow: hidden;
        width: fit-content;

        img {
            max-height: 700px;
            transform: scaleX(-1);
        }
    }
}