@use '../../_root' as *;

#home .hero {
    background-image:
        linear-gradient(to right, #0000008f, transparent),
        url('../../../assets/images/home-hero.webp');
    background-position-y: 40%;
    background-size: cover;
    color: $ct2;
    height: clamp(760px, 45vw, 1000px);
    transition: background-position 1s;

    &--container {
        margin-left: $s4;
        position: relative;
        top: 50%;
        translate: 0 -50%;
        width: 480px;
    }

    &__location {
        margin-bottom: $s1;
    }

    &__header {
        margin-bottom: $s2;
    }

    &__description {
        margin-bottom: $s3;

        p {
            font-size: 20px;
        }
    }

    &__cta {
        width: max-content;

        .cta-anchor {
            color: $ct2a;

            &:visited {
                color: $ct2a;
            }

            &:hover {
                color: $ct2;
            }

            span {
                text-underline-offset: 6px;
            }
        }
    }
}