@use '../../_root' as *;

.hero {
    background-image:
        linear-gradient(to right, #0000008f, transparent),
        url(../../../assets/hero.png);
    background-position-y: 40%;
    background-size: cover;
    color: $color-text-2;
    height: clamp(760px, 45vw, 1000px);
    transition: background-position 1s;

    &--container {
        margin-left: $space-4;
        position: relative;
        top: 50%;
        translate: 0 -50%;
        width: 480px;
    }

    &__location {
        margin-bottom: $space-1;
    }

    &__header {
        margin-bottom: $space-2;

        h1 {
            line-height: $font-4;
        }
    }

    &__description {
        margin-bottom: $space-3;

        p {
            font-size: 20px;
        }
    }

    &__cta {
        width: max-content;

        .cta-anchor {
            color: $color-text-2a;

            &:visited {
                color: $color-text-2a;
            }

            &:hover {
                color: $color-text-2;
            }
        }
    }
}